# Data Structures as Sequences

### Tuples

In [3]:
#A Tuple is a fixed length, immutable sequences of Python objects
tup = 2,3,4
tup

(2, 3, 4)

In [5]:
#Nested tuple
nested_tup = (4,5,6) , (7,8)
nested_tup

((4, 5, 6), (7, 8))

In [6]:
#Converting to tuple
tuple([4,7,8])

(4, 7, 8)

In [7]:
#String to tuple
tup = tuple("String")
tup

('S', 't', 'r', 'i', 'n', 'g')

In [10]:
#If a tuple contains a mutable object then it can be modifified in place
#However a tuple itself is immutable

tup = tuple(["String",[1,2,3,4],True])
tup[1].append(5)
tup

('String', [1, 2, 3, 4, 5], True)

In [11]:
#Concatenating Tuples
tup + tup

('String', [1, 2, 3, 4, 5], True, 'String', [1, 2, 3, 4, 5], True)

In [14]:
#Multiplting tuples created copies of the references
tup = tuple("Hello")
tup * 3

('H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o')

In [18]:
#Unpacking tuples
tup = (4,5,6)
a,b,c = tup
c,b,a

(6, 5, 4)

In [23]:
#Unpacking for iteration
tup = [(1,2,3),(4,5,6),(7,8,9)]

for a, b, c in tup:
    print(f"a={a}, b={b}, c={c}")

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [24]:
#Plucking 
values = 1,2,3,4,5
a,b,*_ = values
print(a)
print(b)
print(*_)

1
2
3 4 5

In [25]:
#Counting occurences of values
a = (1,2,2,3,5,6,7,2)
a.count(2)

3

### Lists

In [26]:
#Appending multiple elements to a list
l = [1,2,3,4,5]
l.extend([6,7,8])
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
#Soting a list by word length
l = ["Hello", "Goodbye", "Good morning", "No"]
l.sort(key= len)
l

['No', 'Hello', 'Goodbye', 'Good morning']

In [34]:
#Binary Search and insersion into a sorted list
import bisect

l = [1,2,6,7,9,12,17,20]

print(bisect.bisect(l,2)) #Finds the location where an element should be inserted to keep it sorted
bisect.insort(l,6) #Insertes the element into the location in the array to keep it sorted
l

2

[1, 2, 6, 6, 7, 9, 12, 17, 20]

In [35]:
#List slicing to reverse a list
l  =[1,2,3,4,5]
l[::-1]

[5, 4, 3, 2, 1]

In [39]:
#Using enumeration to create a dictionary holding a string and the index of it in a list
l = ["foo","bar","zip","baz"]
d = {}

for i,value in enumerate(l):
    d[value] = i

d

{'foo': 0, 'bar': 1, 'zip': 2, 'baz': 3}

In [46]:
#Zipping up lists to create tuple pairs

l1 = ["foo","bar","baz"]
l2 = ["one","two","three"]
zipped = zip(l1,l2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [48]:
#Using zip to iterate

for i,(a,b) in enumerate(zip(l1,l2)):
    print(f"{i}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [49]:
#Unzipping
names = [("Ryan", "Smith"), ("Harry", "Boyce"), ("John", "Down")]
firstname,lastname = zip(*names)
print(firstname)
print(lastname)

('Ryan', 'Harry', 'John')
('Smith', 'Boyce', 'Down')

## Dictionaries

In [51]:
#Collection of key value pairs
d1 = {"a":"Hello", "b":"Goodbye"}
d1

{'a': 'Hello', 'b': 'Goodbye'}

In [53]:
#To get the value in a dictionary, you must access it by it's key
d1["a"]

'Hello'

In [57]:
#Deleting from a dictionary
d1["Temp"] = "Dummy"
print(d1)

del d1["Temp"]
d1

{'a': 'Hello', 'b': 'Goodbye', 'Temp': 'Dummy'}

{'a': 'Hello', 'b': 'Goodbye'}

In [59]:
#Popping from a dictionary
d1["Temp"] = "Dummy"
print(d1)
d1.pop("Temp")
d1

{'a': 'Hello', 'b': 'Goodbye', 'Temp': 'Dummy'}

{'a': 'Hello', 'b': 'Goodbye'}

In [64]:
#Outputting the keys in a dictionary
d2  = {"1":"Hello", "2":"Bye", "3":"Good Morining", "4":"Good afternoon"}
print(d2.keys())
print(d2.values())

dict_keys(['1', '2', '3', '4'])
dict_values(['Hello', 'Bye', 'Good Morining', 'Good afternoon'])

In [67]:
#Updating a dictionary
d2.update({"2":"Goodbye"})
d2

{'1': 'Hello', '2': 'Goodbye', '3': 'Good Morining', '4': 'Good afternoon'}

In [68]:
#Dictionary categorising words by their first letter
letter_dict = {}
words = ["Apple","Banana","Bafoon","Atom","Cherry","Charming"]

for word in words:
    letter = word[0]
    #Returns the values of the item with the specified key, the word is then added to it
    letter_dict.setdefault(letter,[]).append(word) 
letter_dict

{'A': ['Apple', 'Atom'],
 'B': ['Banana', 'Bafoon'],
 'C': ['Cherry', 'Charming']}

## Set

In [69]:
#An unordered collection of unqiue elements

a = {1,2,3,4,5,6}
b = {3,4,5,6,7,8}

In [73]:
#Union of 2 sets (all the elements of them with no duplicates)
print(a.union(b))
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [76]:
#Intersection of 2 sets, (i.e. the elements they have in common)
print(a.intersection(b))
print(a&b)

{3, 4, 5, 6}
{3, 4, 5, 6}

In [79]:
#Convert a list into a set, you must first turn it into a tuple
l = [1,2,3,4]
s = {tuple(l)}
s

{(1, 2, 3, 4)}

In [81]:
#Sets are equal iff their contentsa re identical
{1,2,3,4} == {4,3,2,1}

True

## List, Set and Dictionary Comprehensions

In [85]:
#Filtering a list
s = ["a","as","car", "dove", "python"]
[x.upper() for x in s if len(x)>2]

['CAR', 'DOVE', 'PYTHON']

In [86]:
#Set for the length of strings
s_len = {len(x) for x in s}
s_len

{1, 2, 3, 4, 6}

In [88]:
location = {val:index for index,val in enumerate(s)}
location

{'a': 0, 'as': 1, 'car': 2, 'dove': 3, 'python': 4}

In [92]:
names = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
e_names = [x for name in names for x in name if x.count("e") >=2]
e_names

['Steven']

# Functions

### Anonymous (Lambda) Functions

In [94]:
#Sort a list of strings by the number of distinct letters
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Generator Expressions

In [103]:
gen = (x**2 for x in range(100))
gen

### Itertools

In [107]:
import itertools

first_letter = lambda x:x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

#Groupby groupds elements consevucively with the same return value
for letter,name in itertools.groupby(names,first_letter):
    print(letter, list(name))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

# Errors and Exception Handling

In [115]:
def attempt_float(x):
    try :
        float(x)
    except (TypeError, ValueError):
        return "Not Possible"
    return "Possilbe"

list = [1,23.3,"hello","1.456"]

possible = [(lambda x: attempt_float(x))(x) for x in list]
possible

['Possilbe', 'Possilbe', 'Not Possible', 'Possilbe']